
<div class="form-group">
	<%= f.label :names, 'Uw naam' %>
	<%= f.text_field :first_name, class: "form-control" %>
	<%= f.text_field :last_name, class: "form-control" %>
</div>

<div class="form-group">
	<%= f.label :address, 'Adres' %>
	<%= f.text_field :address, class: "form-control" %>

</div>
<div class="form-group">
	<%= f.label :zip, 'Postcode' %>
	<%= f.text_field :zip, class: "form-control" %>

</div>
<div class="form-group">
	<%= f.label :city, 'Plaats' %>
	<%= f.text_field :city, class: "form-control" %>

</div>
<div class="form-group">
	<%= f.label :phone, 'Telefoonnummer' %>
	<%= f.text_field :phone, class: "form-control" %>

</div>
<div class="form-group">
	<%= f.label :email, 'E-mail' %>
	<%= f.text_field :email, class: "form-control", type: "email" %>

<<<<<<< HEAD
	<div class="input-group">
<div class="input-group-addon">@</div>	
<%= f.text_field :email, class: "form-control", type: "email" %>
</div>

<%= f.label :address, 'Adres' %>
<%= f.text_field :address %><br />

<%= f.label :zip, 'Postcode' %>
<%= f.text_field :zip %><br />

<%= f.label :city, 'Stad' %>
<%= f.text_field :city %><br />
=======
</div>
>>>>>>> origin/master
