<p>
	<%= f.label :name, 'Uw naam' %><br />
	<%= f.text_field :first_name %>
	<%= f.text_field :last_name %>
</p>

<p>
	<%= f.label :phone, 'Telefoonnummer' %><br />
	<%= f.text_field :phone %>
</p>

<p>
	<%= f.label :email, 'E-mail' %><br />
	<%= f.text_field :email %>
</p>s