  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Klant wijzigen</h4>
      </div>
      <div class="modal-body">

			<%= f.fields_for :customer do |c| %>
				<%= render "customer_fields", :f => c %>

				<%= c.fields_for :company do |builder| %>
					<%= render "companies/company_fields", :f => builder %>
				<% end %>
				
				<input class="btn btn-default" type="button" value="Terug" onClick="history.go(-1);return true;">
				<%= f.submit 'Klant aanpassen', class: 'btn btn-primary pull-right' %>
				
			<% end %>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->