<h1>Klant</h1>
<div class="row">
	<div class="col-md-6">
		<div class="panel panel-info">
			<div class="panel-heading">
				Overzicht klant
			</div>
		  	<div class="panel-body">
			<table class="sortable table table-bordered table-striped table-hover">
				<tr>
					<td><b> Naam</b></td>
					<td><%= @customer.first_name  %> <%= @customer.last_name  %> </td>
				</tr>
				<tr>
					<td><b>  Adress</b></td>
					<td> <%= @customer.address %> </td>
				</tr>
				<tr>
					<td><b>  Postcode</b></td>
					<td> <%= @customer.zip %> </td>
				</tr>
				<tr>
					<td><b>  Plaats</b></td>
					<td> <%= @customer.city %> </td>
				</tr>
				<tr>
					<td><b>  Telefoon</b></td>
					<td> <%= @customer.phone %> </td>
				</tr>
				<tr>
					<td><b>  E-mail</b></td>
					<td> <%= @customer.email %> </td>
				</tr>
			</table>
		<%= link_to 'Wijzigen', edit_customer_path(@customer), type: "button",  class: 'btn btn-warning' %>
		<%= link_to 'Terug naar overzicht', customers_path, class: 'btn btn-primary no_print' %>
			</div>
				
		</div>

	</div>
</div>

