<% if params['kind'] == "0" %>
	<h1>Website</h1>
<% elsif params['kind'] == "1" %>
	<h1>Nieuws</h1>
<% elsif params['kind'] == "2" %>
	<h1>Arrangementen</h1>
<% else %>
  <h1>Alle items</h1>
<% end %>
<div class="row">
  <div class="col-md-12">
    <br>
    <%= link_to 'Nieuw', new_page_path(:kind => params[:kind]), class: 'btn btn-success' %>
    <br>
    <br>
  </div>
</div>
<div class="panel panel-info">

  <div class="panel-heading ">
    <% if params['kind'] == "0" %>
      Pagina's
    <% elsif params['kind'] == "1" %>
      Nieuwsartikelen
    <% elsif params['kind'] == "2" %>
      Arrangementen
    <% else %>
    <% end %>

  </div>
   <table class="sortable table table-bordered table-striped table-hover">
  		<% @pages.each do |page| %>
  			<tr>
  				<td class="col-md-12"> <%= page.title %> </td>
  				<td class="col-md-0"> <%= link_to 'Bekijk', page_path(page, :kind => params[:kind]), class: 'btn btn-info btn-xs' %> </td>
  				<td class="col-md-0"> <%= link_to 'Wijzigen', edit_page_path(page, :kind => params[:kind]), class: 'btn btn-warning btn-xs' %> </td>
  				<td class="col-md-0"> <%= link_to 'Verwijderen', page_path(page, :kind => params[:kind]), method: :delete, data: {confirm: 'Weet u het zeker?'}, class: 'btn btn-danger btn-xs' %> </td>
  		<% end %>
   </table>
</div>