<h1> Website </h1>
<div class="panel panel-info">
  <div class="panel-heading">
	<%= @page.title %> 
  </div>
  <div class="panel-body">
		<%= simple_format @page.body %>
		<%= params[:kind] %>
		<%= link_to 'Wijzigen', edit_page_path(@page, :kind => params[:kind]), class: 'btn btn-sm btn-warning' %>
		<%= link_to 'Verwijder', page_path(@page, :kind => params[:kind]), method: :delete, data: { confirm: 'Weet u het zeker?'}, class: 'btn btn-sm btn-danger' %>
  </div>
</div>
<input class="btn btn-default" type="button" value="Terug" onClick="history.go(-1);return true;">