<!-- Table -->
<div id="filterrific_results">
	
	<div>
		<%= page_entries_info reservations %>
	</div>

  	<table class="sortable table table-bordered table-hover">
	  	<thead>
				<tr class="">
					<th class="sortable col-md-0">Datum</th>
					<th class="sortable col-md-2">Tijdstip</th>
					<th class="sortable col-md-2">Naam</th>
					<th class="col-md-0 sorttable_nosort">Aantal personen</th>
					<th class="col-md-3 sorttable_nosort">Omschrijving</th>
					<th class="col-md-3 sorttable_nosort">Notities</th>
					<th class="col-md-1 sorttable_nosort no_print">Bekijk</th>
				</tr>
		</thead>


			<% reservations.each do |reservation| %>
				<tr>
					<td><%= reservation.started_at_date %></td>
					<td><%= reservation.started_at_time %> - <%= reservation.ended_at_time %></td>
					<td><%= reservation.customer.first_name  %> <%= reservation.customer.last_name  %> 
						<% if reservation.customer.company.present? %>
							<br />(<%= reservation.customer.company.name %>)
						<% else %>
							<br /><%= reservation.customer.company(name: "Er is geen bedrijf gekoppeld") %>
						<% end %>
					</td>
					<td><%= reservation.amount %></td>
					<td><%= reservation.description %></td>
					<td><%= reservation.note %></td>
					<td class="no_print"><%= link_to 'Bekijk', reservation_path(reservation), class: 'btn btn-warning' %></td>
					<!--<td class="no_print"><%= link_to 'Edit', edit_reservation_path(reservation), class: 'btn btn-warning' %></td>
					<td class="no_print"><%= link_to 'Del', reservation_path(reservation),
															method: :delete, data: { confirm: 'Weet u het zeker?'}, class: 'btn btn-danger' %></td> -->
				</tr>
			<% end %>
  	</table>
</div>

<%= will_paginate reservations %>