<% if @reservation.errors.any? %>
	<%= render :partial => 'validation' %>
<% end %>

<%= form_for @reservation do |f| %>	

	<%= f.fields_for :customer do |c| %>
		<%= render "customers/customer_fields", :f => c %>

		<%= c.fields_for :company do |builder| %>
			<%= render "companies/company_fields", :f => builder %>
		<% end %>
		
	<% end %>
	

	<p>
		<%= f.label :status, 'Status' %><br />
        <%= f.text_field :status, class: "form-control" %>
    </p>


	<p>
		<%= f.label :start, 'Begintijd' %> - 
		<%= f.label :end, 'Eindtijd' %><br/>
		<%= f.time_select :started_at, {minute_step: 15} %> - <%= f.time_select :ended_at, {minute_step: 15} %>
	</p>
	
	<p>
		<%= f.label :amount, 'Aantal personen' %>
		<%= f.text_field :amount %>
	</p>

	<p>
		<%= f.label :description, 'Korte beschrijving van uw activiteit' %><br />
		<%= f.text_area :description %>
	</p>

	<p>
		<%= f.label :note, 'Notities' %>
		<%= f.text_area :note %>
	</p>

	<p>
		<%= f.submit 'Reservering aanpassen' %>
	</p>
<% end %>
<%= link_to 'Terug', reservations_path %>