<div class="pull-right no_print">
	<%= link_to("Print dit overzicht", "javascript:print()", class: 'btn btn-default') %> 
	<%= link_to 'Nieuwe Reservering', new_reservation_path, class: 'btn btn-primary' %>
</div>
<h1> Overzicht reserveringen</h1>
<%= stylesheet_link_tag "application", :media => 'print' %>

<script type="text/javascript">
  $(document).ready(function(){
    $('.datepicker').datepicker();
  });
</script>

<!--
<div class="alert alert-warning alert-dismissible fade in" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Sluit</span></button>
      <strong>Tip: </strong>Klik op de kopjes van het tabel om deze te sorteren. Het pijltje geeft dan aan of deze oplopend of aflopen gesorteerd worden.
      <br/>
      Probeer eens op "Datum" te klikken.
</div>

<div class="alert alert-info" role="alert">Let op er is 1 onbehandelde reservering</div>

   -->
<div class="panel panel-info">

  <!-- Default panel contents -->
  <div class="panel-heading">
  	Reserveringen 
 
  </div>

  <%= form_for @filterrific do |f| %>
  	<div>
  		<%= f.text_field(
  			:search_query,
  			class: 'filterrific-periodically-observed'
  		) %>
  	</div>
  	<div>
  		Customer
  		<%= f.select(
  			:with_customer_id,
  			@filterrific.select_options[:with_customer_id],
  			{ include_blank: '- Any -'}
  		) %>
  	</div>
  	<div>
  		Reserved after
		<%= f.text_field(:with_created_at_gte, class: 'js-datepicker') %>
   	</div>
   	<div>
   		Sorted by
   		<%= f.select(:sorted_by, @filterrific.select_options[:sorted_by]) %>
   	</div>
   	<div>
   		<%= link_to(
   			'Reset filters',
   			reset_filterrific_reservations_path,
   		) %>
   	</div>
   	<%= render_filterrific_spinner %>
   <% end %>

   <%= render (
   	partial: 'reservations/list',
   	locals: { reservations: @reservations }
   	) %>

</div>
<nav>
</nav>
<!--Popup met nieuwe reservering-->
<!-- /.modal -->