<h1> Overzicht reserveringen</h1>

<div class="alert alert-info" role="alert">Let op er is 1 onbehandelde reservering</div>

<%= form_tag(reservations_path, :method => "get", id: "search-form") do %>
  <%= text_field_tag :search, params[:search], placeholder: "Zoek op naam" %>
  <%= submit_tag "Zoeken !", :name => nil, :date => nil, :last_name => nil,  class: 'btn btn-primary' %>
<% end %>


<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Reserveringen</div>

  <!-- Table -->
  <table class="table table-bordered table-hover">
  	<thead>
			<tr>
				<th><%= sortable 'Datum' %></th>
				<th><%= sortable 'Tijdstip' %></th>
				<th><%= sortable 'Naam' %></th>
				<th><%= sortable 'Bedrijfsnaam' %></th>
				<th><%= sortable 'Aantal personen' %></th>
				<th>Omschrijving</th>
				<th>Status</th>
				<th colspan="2"></th>
			</tr>
	</thead>
		<% @reservations.each do |reservation| %>
			<tr>
				<td><%= reservation.date %></td>
				<td><%= reservation.start %> - <%= reservation.end %></td>
				<td><%= reservation.customer.first_name  %> <%= reservation.customer.last_name  %> </td>
				<td><% if reservation.customer.company.present? %>
						<br /><%= reservation.customer.company.name %>
					<% else %>
						<br /><%= reservation.customer.company(name: "Er is geen bedrijf gekoppeld") %>
					<% end %>
				</td>
				<td>
					0
				</td>
				<td><%= reservation.description %></td>
				<td><%= reservation.status %></td>
				<td><%= link_to 'info', reservation_path(reservation), class: 'btn btn-info' %></td>
				<td><%= link_to 'Edit', edit_reservation_path(reservation), class: 'btn btn-warning' %></td>
				<td><%= link_to 'Del', reservation_path(reservation),
														method: :delete, data: { confirm: 'Weet u het zeker?'}, class: 'btn btn-danger' %></td>

			</tr>
		<% end %>
  </table>
</div>
<div>
<%= link_to 'Nieuwe Reservering', new_reservation_path %> 
</div>