<%= stylesheet_link_tag "reservation.css" %>

<h1>Reserveringssysteem</h1>

<table>
	<tr>
		<th>First name</th>
		<th>Last name</th>
		<th>Phone</th>
		<th>E-mail</th>
		<th>Company Name</th>
		<th>Date</th>
		<th>Start</th>
		<th>End</th>
		<th>Description</th>
		<th colspan="2"></th>
	</tr>
		<% @reservations.each do |reservation| %>
			<tr>
				<td><%= reservation.customer.first_name %></td>
				<td><%= reservation.customer.last_name %></td>
				<td><%= reservation.customer.phone %></td>
				<td><%= reservation.customer.email %></td>
				<td>
					<% if reservation.customer.company.present? %>
						<%= reservation.customer.company.name %>
					<% else %>
						Er is geen bedrijf gekoppeld
					<% end %>
				</td>
				<td><%= reservation.date %></td>
				<td><%= reservation.start %></td>
				<td><%= reservation.end %></td>
				<td><%= reservation.description %></td>
				<td><%= link_to 'Show', reservation_path(reservation) %></td>
				<td><%= link_to 'Edit', edit_reservation_path(reservation) %></td>
				<td><%= link_to 'Destroy', reservation_path(reservation),
								method: :delete, data: { confirm: 'Are you sure?'} %></td>
			</tr>
		<% end %>
</table>


<%= link_to 'Nieuwe Reservering', new_reservation_path %>