<h1> Overzicht reserveringen</h1>
<%= stylesheet_link_tag "application", :media => 'print' %>

<script type="text/javascript">
  $(document).ready(function(){
    $('.datepicker').datepicker();
  });
</script>
<div class="pull-right">
<%= link_to 'Nieuwe Reservering', new_reservation_path, class: 'btn btn-primary' %>

<%= link_to("Print dit overzicht", "javascript:print()", class: 'btn btn-default') %> 
</div>
<br /><br />
<div class="alert alert-warning alert-dismissible fade in" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Sluit</span></button>
      <strong>Tip: </strong>Klik op de kopjes van het tabel om deze te sorteren. Het pijltje geeft dan aan of deze oplopend of aflopen gesorteerd worden.
      <br/>
      Probeer eens op "Datum" te klikken.
</div>
    

<div class="alert alert-info" role="alert">Let op er is 1 onbehandelde reservering</div>

<%= form_tag(reservations_path, :method => "get", id: "search-form") do %>
  <%= text_field_tag :search, params[:search], placeholder: "Zoek op naam" %>
  <%= submit_tag "Zoeken !", :name => nil, :date => nil, :last_name => nil,  class: 'btn btn-primary' %>
<% end %>

<div class="panel panel-default">

  <!-- Default panel contents -->
  <div class="panel-heading">Reserveringen</div>

  <!-- Table -->
  <table class="sortable table table-bordered table-hover">
  	<thead>
			<tr>
				<th>Datum</th>
				<th>Tijdstip</th>
				<th>Naam</th>
				<th>Aantal personen</th>
				<th class="sorttable_nosort">Omschrijving</th>
				<th class="sorttable_nosort">Status</th>
				<th class="sorttable_nosort no_print" colspan="2"></th>
			</tr>
	</thead>
		<% @reservations.each do |reservation| %>
			<tr>
				<td>date</td>
				<td><%= reservation.started_at %> - <%= reservation.ended_at %></td>
				<td><%= reservation.customer.first_name  %> <%= reservation.customer.last_name  %> 
					<% if reservation.customer.company.present? %>
						<br />(<%= reservation.customer.company.name %>)
					<% else %>
						<br /><%= reservation.customer.company(name: "Er is geen bedrijf gekoppeld") %>
					<% end %>
				</td>
				
				<td><%= reservation.amount %>
				</td>
				<td><%= reservation.description %></td>
				<td><%= reservation.status %></td>
				<td class="no_print"><%= link_to 'info', reservation_path(reservation), class: 'btn btn-info' %></td>
				<td class="no_print"><%= link_to 'Edit', edit_reservation_path(reservation), class: 'btn btn-warning' %></td>
				<td class="no_print"><%= link_to 'Del', reservation_path(reservation),
														method: :delete, data: { confirm: 'Weet u het zeker?'}, class: 'btn btn-danger' %></td>
			</tr>
		<% end %>
  </table>
</div>
<nav>
  <%= will_paginate @reservations, :previous_label => 'Vorige', :next_label => 'Volgende',renderer: BootstrapPagination::Rails %>
</nav>
<!--Popup met nieuwe reservering-->
<!-- /.modal -->