<% if @reservation.errors.any? %>
	<%= render :partial => 'validation' %>
<% end %>

<%= form_for @reservation do |f| %>	

	<%= f.fields_for :customer do |c| %>
		<%= render "customers/customer_fields", :f => c %>

		<%= c.fields_for :company do |builder| %>
			<%= render "companies/company_fields", :f => builder %>
		<% end %>
		
	<% end %>

	<% f.text_field :status %>
	
	<p>
		<%= f.label :date, 'Datum' %><br />
		<%= f.date_select(:date, order: [:day, :month, :year]) %>
	</p>

	<p>
		<%= f.label :start, 'Begintijd' %> - 
		<%= f.label :end, 'Eindtijd' %><br/>
		<%= f.time_select :start %> - <%= f.time_select :end %>
	</p>
	
	<p>
		<%= f.label :customercount, 'Aantal bezoekers' %>
		<%= f.number_field_tag :customercount, nil, in 1 40  %>
	</p>

	<p>
		<%= f.label :description, 'Korte beschrijving van uw activiteit' %><br />
		<%= f.text_area :description %>
	</p>

	<p>
		<%= f.submit 'Reservering aanmaken' %>
	</p>
<% end %>
<%= link_to 'Terug', reservations_path %>