<div class="col-md-6">
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title">Reservering toevoegen</h3>
		</div>
	  	<div class="panel-body">
			<% if @reservation.errors.any? %>
				<%= render :partial => 'validation' %>
			<% end %>

			<%= form_for @reservation do |f| %>	

				<%= f.fields_for :customer do |c| %>
					<%= render "customers/customer_fields", :f => c %>

					<%= c.fields_for :company do |builder| %>
						<%= render "companies/company_fields", :f => builder %>
					<% end %>
					
				<% end %>
				
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<%= f.label :started_at, 'Datum' %><br/>
							<%= f.datetime_select :started_at, {discard_hour: true, discard_minute: true}%>
						</div>
					</div>

					<div class="col-md-3">
						<div class="form-group">
							<%= f.label :started_at, 'Begintijd' %> <br>
							<%= f.datetime_select :started_at, {minute_step: 15, discard_year: true, discard_month: true,}, start_year: Time.zone.now %>
						</div>
					</div>	
					<div class="col-md-3">
						<div class="form-group">
							<%= f.label :ended_at, 'Eindtijd' %><br>
							<%= f.datetime_select :ended_at, {minute_step: 15, discard_year: true, discard_month: true}, start_year: Time.zone.now %>
						</div>
					</div>
				</div>
				
				<div class="row">
					<div class="col-lg-4">
						<div class="form-group">
							<%= f.label :amount, 'Aantal personen' %>
							<%= f.text_field :amount, class: 'form-control input-sm' %>
						</div>
					</div>
				</div>

				<%= f.label :description, 'Korte beschrijving van uw activiteit' %><br />
				<%= f.text_area :description, class: 'form-control' %>

				<%= f.label :note, 'Notities' %>
				<%= f.text_area :note, class: 'form-control' %>
				<br>
				<%= link_to 'Terug', reservations_path, class: 'btn btn-default' %>
				<%= f.submit 'Reservering aanmaken', class: 'btn btn-primary pull-right' %>
			<% end %>	
			
		</div>
		
	</div>
</div>