<h1>Reservering</h1>

<p>Reservering van <%= @reservation.customer.first_name %> <%= @reservation.customer.last_name %> aangevraagd op <%= @reservation.created_at %> </p>

<b><%= @reservation.customer.company.name %></b><br><br>

<%= @reservation.customer.first_name %> <%= @reservation.customer.last_name %><br>
<%= @reservation.customer.address %><br>
<%= @reservation.customer.zip %> <%= @reservation.customer.city %>
<br><br>

<%= @reservation.customer.email %><br>
<%= @reservation.customer.phone %><br><br>


<div class="pull-right">
<!--<%= link_to 'Wijzigen', edit_reservation_path(@reservation), type: "button",  class: 'btn btn-warning' %> -->
<button type="button" class="btn btn-warning" data-toggle="modal" data-target="#wijzigen">
  Wijzigen
</button>
<%= link_to 'Verwijderen', reservation_path(@reservation),
														method: :delete, data: { confirm: 'Weet u het zeker?'}, type: "button", class: 'btn btn-danger' %>
</div>

<table class="table table-bordered">
 <thead>
	<tr class="active">
		<th>Datum</th>
		<th>Tijd</th>
  		<th>Plaats</th>
		<th>Naam</th>
		<th>Omschrijving</th>
		<th>Aantal personen</th>
		<th>Notities</th>
		<th>Status</th>
	</tr>
 </thead>
  <tr>
  	<td>datum</td>
  	<td><%= @reservation.started_at %> - <%= @reservation.ended_at %></td>
  	<td>Plaats</td>
  	<td><%= @reservation.customer.first_name %> <%= @reservation.customer.last_name %></td>
  	<td><%= @reservation.description %></td>
  	<td>Aantal personen</td>
  	<td>Notities</td>
  	<td><%= @reservation.status %></td>
  </tr>
</table>

<div id="wijzigen" class="modal fade">
  <%= render "edit" %>
</div><!-- /.modal -->




<%= link_to 'Terug naar overzicht', reservations_path, class: "btn btn-primary" %>