<div class="panel panel-info">
  <div class="panel-heading"><%= link_to_if action_name == 'index', post.title, post %></div>
  <div class="panel-body">
	<%= simple_format post.body %>
	<%= link_to 'Wijzigen', edit_post_path(post), class: 'btn btn-sm btn-warning' %>
	<%= link_to 'Bekijk', post_path(post), class: 'btn btn-sm btn-info' %>
	<%= link_to 'Verwijder', post_path(post), method: :delete, data: { confirm: 'Weet u het zeker?'}, class: 'btn btn-sm btn-danger' %>
  </div>
</div>