!!!
%html
	%head
		%title de Koepel

		= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
		= stylesheet_link_tag    'reset', media: 'all', 'data-turbolinks-track' => true
		= stylesheet_link_tag    'sites', media: 'all', 'data-turbolinks-track' => true

		//CUSTOMER WEGHALEN
		= stylesheet_link_tag    'customer', media: 'all', 'data-turbolinks-track' => true

		= javascript_include_tag 'application', 'data-turbolinks-track' => true
    
		= csrf_meta_tags
  
	%body
		#container	
			.wrapper
				.box-wrapper.white
					.logo-zakelijk
					#menu
						%ul
							%li
								%a 
									= link_to 'Home', sites_url
							%li
								%a 
									= link_to 'Zaalverhuur', zaalverhuur_url
							%li
								%a 
									= link_to 'Arrangementen', arrangementen_url
							%li
								%a 
									= link_to 'De Koepel', dekoepel_url
							%li
								%a 
									= link_to 'Contact', contact_url
			= yield
