<!DOCTYPE html>
<html>
<head>
  <title>DeKoepel</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <title>Bootstrap Case</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

</head>
  <body>

  <div class="col-md-2 no_print">
            <ul class="nav nav-pills nav-stacked">
              <li class="active"><a href="#">Reserveringen</a></li>
              <li><%= link_to 'Alle reserveringen', reservations_path %></li>
            </ul>

            <ul class="nav nav-pills nav-stacked">
              <li class="active"><a href="#">Website</a></li>
              <li><%= link_to 'Nieuws berichten', posts_path%></li>
              <li><%= link_to "Website pagina's", pages_path%></li>
            </ul>

             <ul class="nav nav-pills nav-stacked">
              <li class="active"><a href="#">Klanten</a></li>
              <li><%= link_to 'Overzicht alle klanten', customers_path%></li>
            </ul>
  </div>

  <div class= "col-md-10">

  		<%= yield %>
  	</div>
  </body>
</html>
